<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper namespace 겹치지않게 하기-->
<mapper namespace="exam">

    <select id="findByExamApplyAndStudent" resultType="hachi.education_management.exam.vo.ExamStudentApply"
            parameterType="long">
    SELECT
      t.teacher_no
      ,s.student_no
      ,esa.exam_student_apply_no
      ,e.exam_no
      ,s.name
      ,e.year
      ,e.grade
      ,e.semester
      ,e.exam_type
      ,esa.create_date
      ,t.teacher_name
      ,esa.update_date
    FROM exam_student_apply esa
    INNER JOIN exam e on e.exam_no = esa.exam_no
    INNER JOIN student s on s.student_no = esa.student_no
    INNER JOIN teacher t on t.teacher_no = esa.create_teacher_no
    WHERE s.student_no = #{studentNo}
    limit 0, 100
    </select>

    <select id="findByExam" resultType="hachi.education_management.exam.vo.Exam" parameterType="int">
    SELECT
        e.exam_no
        ,sc.school_no
        ,sc.school_name
        , sc.area
        , e.grade
        , e.semester
        , e.exam_type
        , t.teacher_name
        , e.start_date
        , e.end_date
        , s.subject_no
        , s.subject_name
    FROM exam e
    INNER JOIN school sc on sc.school_no = e.school_no
    INNER JOIN teacher t on t.teacher_no = e.create_teacher_no and e.update_teacher_no
    INNER JOIN subject s on s.subject_no = e.subjectNo
    WHERE  e.grade = #{grade}
    LIMIT 0, 10;
    </select>

    <select id="findByExamDeatilForStudent" resultType="hachi.education_management.exam.vo.ExamDetail"
            parameterType="long">
    select
        s.student_no
        ,sub.subject_no
        ,esd.exam_student_detail_no
        ,e.exam_no
        ,s.name
        ,e.grade
        ,e.semester
        ,e.start_date
        ,e.end_date
        ,sub.subject_name
        ,esd.perfect
        ,esd.score
    from exam_student_detail esd
    inner join exam e on e.exam_no = esd.exam_no
    inner join student s on s.student_no = esd.student_no
    inner join subject sub on sub.subject_no = esd.subject_no
    where s.student_no = #{studentNo}
    </select>
</mapper>