<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper namespace 겹치지않게 하기-->
<mapper namespace="gradeClass">

    <insert id="insertStduentGradeClass"
            parameterType="hashmap"
    >
        INSERT INTO student_grade_class
            (
              student_no
              ,grade_class_no
            )
        VALUES
            (
              #{studentNo}
             ,#{gradeClassNo}
            )
    </insert>

    <select id="selectByGradeClassWithStudentNoForList"
            resultType="hachi.education_management.grade_class.vo.GradeClassWithStudent"
            parameterType="long">
        SELECT
          sgc.student_grade_class_no
          ,gc.grade_class_no
          ,gc.gradeNo
          ,gc.grade_class
          ,s.student_no
          ,s.name
          ,s.sex
          ,sc.school_no
          ,sc.school_name
        FROM
          student_grade_class sgc
        INNER JOIN grade_class gc ON gc.grade_class_no = sgc.grade_class_no
        INNER JOIN student s ON s.student_no = sgc.student_no
        INNER JOIN school sc ON sc.school_no = gc.school_no
        WHERE
         gc.year = 2019
        AND sgc.grade_class_no = #{gradeClassNo}
        AND gc.school_no = #{schoolNo}
    </select>

</mapper>