<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="score">
    <select id="selectByScoreNoWithStudentNo" resultType="hachi.education_management.score.vo.ScoreWithStudent">
      SELECT
        s.student_no
        ,gc.grade_class_no
        ,sub.subject_no
        ,s.name
        ,s.jumin_no
        ,s.sex
        ,gc.grade
        ,gc.grade_class
        ,sc.semester
        ,sc.exam
        ,sc.perfect_standard
        ,sub.subject_name
        ,sc.score
      FROM
        score sc
      INNER JOIN student s on s.student_no = sc.student_no
      INNER JOIN grade_class gc on gc.grade_class_no = sc.grade_class_no
      INNER JOIN subject sub on sub.subject_no = sc.subject_no
      ORDER BY student_no desc
    </select>
</mapper>