<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper namespace 겹치지않게 하기-->
<mapper namespace="student">

    <insert id="insert"
            parameterType="hachi.education_management.student.model.Student"
            useGeneratedKeys="true"
            keyProperty="studentNo"
            keyColumn="studentNo"
    >
        insert into student (
            name
            ,jumin_no
            ,sex
            ,id
            ,pwd
        ) values (
            #{name}
            ,#{juminNo}
            ,#{sex}
            ,#{id}
            ,md5(#{pwd})
         )
    </insert>

    <select id="findStudentDetailByStudentNo" parameterType="long"
            resultType="hachi.education_management.student.vo.StudentDetail">
        SELECT
          s.student_no
          ,s.name
          ,s.jumin_no
          ,s.sex
          ,s.id
          ,gc.school_no
          ,sc.school_name
          ,gc.year
          ,gc.grade
          ,gc.grade_class
          ,gc.grade_class_no
        FROM
          student s
		INNER JOIN student_grade_class sgc ON s.student_no = sgc.student_no
        INNER JOIN grade_class gc ON gc.grade_class_no = sgc.grade_class_no
        INNER JOIN school sc on sc.school_no = gc.school_no
        WHERE s.student_no = #{studentNo}
    </select>

    <select id="findStudentDetailList"
            resultType="hachi.education_management.student.vo.StudentDetail">
        SELECT
          s.student_no
          ,s.name
          ,s.jumin_no
          ,s.sex
          ,s.id
          ,gc.school_no
          ,sc.school_name
          ,gc.year
          ,gc.grade
          ,gc.grade_class
          ,gc.grade_class_no
        FROM
          student s
		INNER JOIN student_grade_class sgc ON s.student_no = sgc.student_no
        INNER JOIN grade_class gc ON gc.grade_class_no = sgc.grade_class_no
        INNER JOIN school sc on sc.school_no = gc.school_no
        ORDER BY student_no desc
    </select>

    <select id="findStudentDetailListLimit"
            parameterType="map"
            resultType="hachi.education_management.student.vo.StudentDetail">
        SELECT
          s.student_no
          ,s.name
          ,s.jumin_no
          ,s.sex
          ,s.id
          ,gc.school_no
          ,sc.school_name
          ,gc.year
          ,gc.grade
          ,gc.grade_class
          ,gc.grade_class_no
        FROM
          student s
		INNER JOIN student_grade_class sgc ON s.student_no = sgc.student_no
        INNER JOIN grade_class gc ON gc.grade_class_no = sgc.grade_class_no
        INNER JOIN school sc on sc.school_no = gc.school_no
        ORDER BY student_no ${sord}
        LIMIT #{start}, #{rows}
    </select>

    <select id="findStudentDetailListCount" resultType="long">
        SELECT
          count(*) as cnt
        FROM
          student s
		INNER JOIN student_grade_class sgc ON s.student_no = sgc.student_no
        INNER JOIN grade_class gc ON gc.grade_class_no = sgc.grade_class_no
        INNER JOIN school sc on sc.school_no = gc.school_no
    </select>

    <select id="findStudentSchool" resultType="hachi.education_management.student.vo.StudentSchool">
        SELECT
               sc.area,
               sc.school_name,
               sc.school_nickname,
               gc.year,
               gc.grade,
               gc.grade_class as gradeClass,
               st.name as studentName,
               st.sex,
               sgc.student_class_number
        FROM
             student st
               INNER JOIN
                 student_grade_class sgc ON sgc.student_no = st.student_no
               INNER JOIN
                 grade_class gc ON gc.grade_class_no = sgc.grade_class_no
               INNER JOIN
                 school sc ON sc.school_no = gc.school_no
    </select>

</mapper>